<%= form_with(model: article) do |form| %>
  <% if article.errors.any? %>
    <div class="alert alert-danger mt-3">
      <h2 class="alert-heading mb-3"><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% article.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-3">
    <%= form.label :title, class: "form-label" %>
    <%= form.text_field :title, required: true, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description, class: "form-control", placeholder: "Image description here...", rows: 5 %>
  </div>

  <div class="mb-3 text-center">
    <%= form.submit class:"btn btn-light" %>
  </div>
<% end %>
