<% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<h1 class="text-center">Gallery</h1>

<% if user_signed_in? %>
  <% if user_signed_in? %>
    <div class="text-center mb-3">
      <%= link_to "Publish Picture", new_article_path, class: "btn btn-light" %>
    </div>
  <% end %>
<% end %>

<div id="articles" class="row gy-3 row-cols-1 row-cols-lg-2">
  <% @articles.each do |article| %>
    <div class="col align-self-center">
      <div class="card">
        <%= image_tag article.image, class:"card-img-top border-bottom" if article.image.attached? %>
        <div class="card-body">
          <h5 class="card-title"><%= article.title %></h5>
          <p class="card-text"><small class="text-body-secondary"><%= article.created_at.strftime("%d - %m - %Y")%></small></p>
          <div class="d-flex align-items-center">
            <% if article.user.profile_picture.attached? %>
              <%= image_tag article.user.profile_picture, class: "img-thumbnail me-3", style: "height: 50px" %>
            <% end %>
            <p class="card-text">Written by <%= article.user.name %></p>
          </div>
        </div>
        <div class="card-footer text-center">
          <%= link_to "Show this picture", article, class: "btn btn-light" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
