<% if notice %>
  <div class="alert alert-success" role="alert">
    <%= notice %>
  </div>
<% end %>

<% if not flash["error"].nil? %>
  <div class="alert alert-danger" role="alert">
    <h2><%= pluralize(flash["error"].count, "error") %> prohibited this comment from being saved:</h2>

    <ul>
      <% flash["error"].each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div id="<%= dom_id @article %>" class="mb-3">
  <h1><%= @article.title %></h1>
  <% if @article.image.attached? %>
    <div class="text-center mb-3">
      <%= image_tag @article.image, class:"img-fluid" %>
    </div>
  <% end %>
  <div class="d-flex align-items-center mb-3">
    <% if @article.user.profile_picture.attached? %>
      <%= image_tag @article.user.profile_picture, class: "img-thumbnail me-3", style: "height: 50px" %>
    <% end %>
    <h6 class="mb-0">Posted by <%= @article.user.name %> <small class="text-body-secondary"><%= @article.created_at.strftime("%d - %m - %Y")%></small></h6>
  </div>

  <p>
    <%= @article.description %>
  </p>

  <p>
    <%= link_to "Back to articles", articles_path, class: "link-light" %>
  </p>

</div>

<div>
  <h2 class="mb-3">Comments</h2>
  <% unless @comments.empty? %>
    <% @comments.each do |comment| %>
      <div class="card mb-3">
        <div class="card-header d-flex align-items-center">
          <% if comment.user.profile_picture.attached? %>
            <%= image_tag comment.user.profile_picture, class: "img-thumbnail me-3", style: "height: 50px" %>
          <% end %>
          <h5 class="mb-0"><strong><%= comment.user_id.nil? ? 'A deleted user' : User.find(comment.user_id).name %></strong> commented:</h5>
        </div>
        <div class="card-body">
          <p class="card-text"><%= comment.content %></p>
        </div>
        <div class="card-footer d-flex align-items-center">
          <p class="my-0 me-auto">
            <% if (Time.now - comment.created_at).round > 1.day %>
              <%= comment.created_at.strftime("%d - %m - %Y") %>
            <% else %>
              <%= time_passed(comment.created_at) %>
            <% end %>
          </p>
          <% if user_signed_in? %>
            <% if current_user.role == 'admin' || comment.user_id == current_user.id %>
              <%= button_to "Delete this comment", comment_article_path, params: { comment_id: comment }, method: :delete, class: "btn btn-danger" %>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% else %>
    <div class="card mb-3">
      <div class="card-body">No one has commented yet</div>
    </div>
  <% end %>
</div>

<%# Comment form %>
<%= form_with model: [@article, @article.comments.build], url: comment_article_path do |form| %>
  <div class="mb-3">
    <%= form.label :content, "Leave a comment", class: "form-label fs-2 fw-medium" %>
    <%= form.text_area :content, class: "form-control", placeholder: "Your comment here...", rows: 5 %>
  </div>

  <div class="text-center mb-3">
    <%= form.submit class: "btn btn-light" %>
  </div>
<% end %>

<%# Admin section %>
<% if user_signed_in? %>
  <% if current_user.role == 'admin' %>
    <div class="card text-center">
      <h5 class="card-header">Admin panel</h5>
      <div class="card-body">
        <div class="d-flex justify-content-evenly">
          <%= link_to "Edit this article", edit_article_path(@article), class: "btn btn-light" %>
          <%= button_to "Destroy this article", @article, method: :delete, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
